body {
    background-color: #7dbddc;
}

.main{
    width: 100%;
    height: 500px;
    /*object-fit: cover;*/
    object-position: center;
}

.map {
    width: 100%;
    height: 100%;
}

.text{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

    background-color: white;
    border-bottom: 2px solid #f0f0f0;
    padding: 20px 40px;
    margin-top: 20px;
    text-align: center;
    /*word-wrap: break-word;*/
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 5px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 50px;
    margin-inline: 50px;
    margin-bottom: 50px;
    text-align: center;
    background: white;
    color: black;
    flex: 1;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}


.container > label, input, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

button {
    background-color: #847e7e;
    border: 2px solid #847e7e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 50%;
    border-radius: 3px;
}

button:hover {
    opacity: 0.8;
}

@media (max-width: 858px){
    .wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        transition: 0.3s;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 50px;

    }
}

.form-title{
    border-bottom: 2px solid #f0f0f0;
    padding: 20px 40px;
}

.form-title h3{
    text-align: center;
    font-size: 150%;
}